.hand-on-hover {
    color: black;
    transition:.1s;
}

.hand-on-hover:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
    transition: .1s;
}   

.bg-unique {
	background-color: #3F729B;
}

.bg-unique-dark {
	background-color: #1C2331;
}