a{
	color:black;
}

.bg-amber{
	background-color: #f44336;
}

.linkHover:hover{
	transition: .4s;
	color: white; 
}

.linkActive{
	color: white;
}

footer {
	margin-top: 100px;
}

.bg-unique {
	background-color: #3F729B;
}

.bg-unique-dark {
	background-color: #1C2331;
}