.content-container{
    margin-top: 80px;
}

.bg-amber{
	background-color: #f44336;
}

.invalid{
    color: red;
}

.booknow{
    margin-top: 100px;
}

.loginBtn, .logoutBtn{
    transition: .5s ease;
    color: black;

}

.loginBtn:hover, .logoutBtn:hover{
    color: white;
    transition: .5s ease;
}